.contactFlex {
  display:flex;
  position:relative;
}
.contactInfo {
  margin-right:50px;
  width:calc(30% - 50px);
  display:flex;
  flex-flow:column wrap;
  align-items:flex-start;
  .socialIcons {
    ul {
      @include listReset;
      display:flex;
    }
    i {
      padding-right:0.75rem;
      color:$green;
    }
  }
  a {
    text-decoration:none;
    color:$black;
    margin:0.5rem 0;
  }
  p {
    font-size:0.8rem;
    line-height:1rem;
    margin:0;
  }
  span {
    display:block;
  }
}

.contactFormContainer {
  width:70%;
  min-height:16rem;
  @include boxShadow (-1, 1);
  background:#fff;
  position:absolute;
  top:-252px;
  right:0;
}

form {
    background:#ffffff00;
    display:flex;
    flex-wrap:wrap;
    input,
    textarea {
      background:inherit;
      border:none;
      margin:10px;
      padding:5px;
      font-family:'Josefin Sans',sans-serif;
      font-weight:300;
    }
    input {
      width:calc(50% - 20px);
      border-bottom:0.05rem solid $green;
      border-radius:0;
    }
    textarea {
      resize:none;
      width:calc(100% - 20px);
      height:7.5rem;
      border:0.05rem solid $green;
    }
    button[type="submit"] {
      margin-left:10px;
    }
}
