@media(max-width:900px){
  html {
    font-size:95%;
  }

  section:nth-child(odd){
    background:$offWhite;
    @include sectionPadding(50, 25)
  }

  .pageTitle {
    h1 {
      font-size:6.3rem;
    }
  }
  .headImgContainer {
    display:none;
  }
  .blogMain {
    padding:0;
    margin:0;
  }
  .blogFlex {
    flex-direction:column;
    img {
      margin:15px 0;
      min-width:100%;
      box-shadow:none;
    }
    &.row01 {
      .blogFlexContent {
        margin-left:0;
      }
    }
    &.row02 {
      .blogFlexContent {
        margin-right:0;
      }
    }
    .blogFlexContent {
      padding:0 25px;
      width:100%;
    }
  }
  .leftImg {
    top:0;
  }
  .rightImg {
    bottom:0;
  }

  .iconGallery,
  .imgGallery {
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }

  .imageList {
    li {
      width:100%;
      img {
        margin:0 auto;
      }
    }
  }

  .iconOverlay {
    top:0;
  }
  .sectionFlex {
    flex-direction:column;
    .imgContainer {
      margin-bottom:25px;
    }
  }
  .blog {
    flex-direction:column;
    justify-content: center;
    font-size:95%;
  }
  .blogContent {
    flex:auto;
    width:calc(100% - 50px);
    top:0;
    right:0;
    .blogPost {
      border:none;
    }
  }
  aside {
    flex:auto;
    align-items:center;
    text-align:center;
    .sideImgContainer {
      flex:3 1 auto;
    }
    .sideBarContent{
      width:100%;
      background:none;
    }
    .profileContainer {
      width:50%;
    }
  }
  .contactFormContainer {
    position:initial;
    form {
      button[type="submit"]{
        margin-top:0;
      }
    }
  }
}

@media(max-width:600px){
  .pageTitle {
    margin:25px;
    font-size:4rem;
  }
  .imgGallery {
    padding:0;
    .wrapper {
      width:100%;
    }
  }

  .imageList {
    li {
      padding:0;
    }
  }

  .contactFlex  {
    flex-flow:column-reverse;
  }

  .contactInfo,
  .contactFormContainer {
    width:100%;
  }
  .contactInfo {
    span {
      display:inline
    }
    padding:50px 0;
  }

  form {
    input,
    textarea {
      width:calc(100% - 20px);
    }
    textarea {
      height:5rem;
    }
  }
  .blogContent {
    top:0;
    .blogPost {
      padding:0;
      padding-top:25px;
    }
  }
  .commentFlex {
    flex-direction:column;
    align-items:flex-start;
    .profileContainer {
      width:250px;
    }
  }
}