html {
  font-size:125%;
}

h1 {
  @include fontBase ($primaryFont, 8.3, 400, #fff);
  span {
    display:block;
    color:$sunnyYellow;
  } 
}

h2 {
  @include fontBase ($primaryFont, 2.815, 700, $black);
  text-align:center;
  letter-spacing:1.3px;
}

h3 {
  @include fontBase ($primaryFont, 1.6, 700, $black);
  letter-spacing:1px;
}

h4 {
  @include fontBase ($primaryFont, 1, 700, $black);
  line-height:1.51rem;
}

a {
  @include fontBase ($primaryFont, 1, 500, #fff);
  text-decoration:none;
}

p {
  @include fontBase ($secondaryFont, 1, 400, $black);
  line-height:32px;
}

button {
  @include fontBase ($primaryFont, 1, 700, #fff);
  line-height:1.6rem;
  letter-spacing:1px;
}

header {
  a {
    text-transform:uppercase;
  }
  .siteAnchor {
    font-size:1.75rem;
    text-transform:none;
  }
  li:hover a,
  li:focus-within a {
    color:$sunnyYellow;
  }
  &.headerContact,
  &.headerBlog {
      h1 {
        @include fontBase($primaryFont, 4, 700, $sunnyYellow);
        line-height:92px;
      }
  }
}

main {
  h3 {
    font-size:1.6rem;
    letter-spacing:1px;
  }
}

