html {
  font-size:125%;
}

h1,
h2,
h3,
h4,
button,
a {
  font-family:$primaryFont;
}

h1,
a,
button {
  color:#fff;
}


p {
  font-family:$secondaryFont;
  line-height:32px;
}

i{
  color:$black;
}

header {
  a {
    text-decoration:none;
    text-transform:uppercase;
  }
  .siteAnchor {
    font-size:1.5rem;
    text-transform:none;
  }
  li:hover a,
  li:focus-within a {
    color:$sunnyYellow;
  }
    h1 {
    font-size:8.3rem;
    font-weight:400;
    color:#fff;
    span {
      display:block;
      color:$sunnyYellow;
    } 
  } 
  &.headerContact,
  &.headerBlog {
      h1 {
        font-size:4rem;
        font-weight:700;
        line-height:92px;
      }
  }
}

main {
  h2 {
    font-size:2.813rem;
    letter-spacing:1.3px;
    margin:0.5rem;
  }
  button {
    background-color:$green;
    border:1px solid $green;
    font-weight:700;
    padding:10px 25px;
  }
  h3 {
    font-size:1.6rem;
    letter-spacing:1px;
  }
}


