$black:#2C2C2C;
$offWhite:#F0EFED;
$forestGreen:#074115;
$sunnyYellow:#F8E71C;
$green:#0E902D;

$primaryFont:'Josefin Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

@mixin headerBackground($backgroundImg){
  background:$backgroundImg center / cover no-repeat;
}

@mixin listReset {
  margin:0;
  padding:0;
  list-style:none;
}

@mixin listFlex {
  @include listReset;
  display:flex;
  flex-flow:wrap;
  li {
    display:inline-block;
    flex:0 1 5%;
    padding:0 10px;
  }
  a {
    padding: 5px;
  }
}

@mixin headerNav {
  display:flex;
  align-items:center;
  justify-content:flex-start;
  .siteAnchor {
    flex: 0 2 10%;
    margin-right:50px;
    flex-basis:calc(20% - 55px);
  }
}

@mixin sectionPadding ($paddingTB, $paddingLR){
  padding:$paddingTB * 1px $paddingLR * 1px;
}