$black:#2C2C2C;
$offWhite:#F0EFED;
$forestGreen:#074115;
$sunnyYellow:#F8E71C;
$green:#0E902D;

$primaryFont:'Josefin Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

@mixin headerBackground($backgroundImg){
  background:$backgroundImg center / cover no-repeat;
}