@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Roboto&display=swap');
@import 'partials/vars';
@import 'partials/setup';
@import 'partials/typography';

.wrapper {
  width:1400px;
  max-width:80%;
  margin:0 auto;
}

header {
  position:relative;
  display:flex;
  flex-flow:column;
  min-height:35rem;
  &.headerHome {
    @include headerBackground(url(../assets/home-image-1.jpg));
    .pageTitle {
      z-index:3;
      align-self:center;
    }
}
}

.headerBlog {
  @include headerBackground(url(../assets/blog-header-1.jpg))
}
.headerContact {
  @include headerBackground(url(../assets/contact-header-1.jpg))
}
.headerBlog,
.headerContact {
  min-height:25rem;
}

.headImgContainer {
  align-self:flex-end;
  position:absolute;
  right:0;
  bottom:-75px;
}
  nav {
    padding:10px;
    @include headerNav;
    ul {
      @include listFlex;
    }
    .mobileNavMenu {
      display:none;
    }
    &.subPageMenu{
      background:#000;
      .wrapper {
        @include headerNav;
      }
    }
  }

  .about,
  .iconGallery {
    background:$offWhite;
  }

.about {
  .aboutContent {
    text-align:center;
    @include sectionPadding(100, 0);
    display:flex;
    flex-flow:column wrap;
    align-items:center;
  }
  .aboutContent h2 {
    flex:1 2 66%;
  }

  .aboutContent p {
    flex:0 1 33%;
  }
}

.blogMain {
  max-width:100%;
}

.blogGrid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap:50px;
  .blogImgContainer {
    min-width:calc(100% - 50px);
  }
}

.iconGallery > .wrapper {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  @include sectionPadding(50, 0)
}

.galleryContent {
  position:relative;
  margin:0 10px;
  width:calc(50% - 20px);
  .iconOverlay{
    text-align:center;
    position:absolute;
    top:25px;
    left:-50px;
    background:$sunnyYellow;
    border-radius:50%;
    i {
      padding:10px;
    }
  }
}