@import 'partials/vars';
@import 'partials/setup';
@import 'partials/typography';
@import 'partials/forms';
@import 'partials/blogs';

.wrapper {
  max-width:1400px;
  width:80%;
  margin:0 auto;
}

header {
  position:relative;
  display:flex;
  flex-flow:column;
  min-height:35rem;
  &.headerHome {
    @include headerBackground(url(../assets/home-image-1.jpg));
    .pageTitle {
      z-index:3;
      align-self:center;
    }
}
}

.headerBlog {
  @include headerBackground(url(../assets/blog-header-1.jpg))
}
.headerContact {
  @include headerBackground(url(../assets/contact-header-1.jpg))
}
.headerBlog,
.headerContact {
  min-height:25rem;
}

.headImgContainer {
  align-self:flex-end;
  position:absolute;
  right:0;
  bottom:-75px;
}
  nav {
    padding:10px;
    @include headerNav;
    ul {
      @include listFlex;
    }
    .mobileNavMenu {
      display:none;
    }
    &.subPageMenu{
      background:#000;
      .wrapper {
        @include headerNav;
      }
    }
  }

  section:nth-child(odd){
    background:$offWhite;
    @include sectionPadding(100, 25)
  }

.about {
  .aboutContent {
    text-align:center;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
  }
  .aboutContent h2 {
    flex:1 2 66%;
  }

  .aboutContent p {
    flex:0 1 33%;
  }
}

.blogMain {
  @include sectionPadding(50, 0);
}

.blogGrid {
  display:flex;
  justify-content:space-between;
  align-items:center;
  .blogGridContent {
    flex:5 1 calc(50% - 50px);
  }
  &.row01 {
    .blogGridContent {
      margin-left:50px;
    }
  }
  &.row02{
    text-align:right;
    .blogGridContent {
      margin-right:50px;
    }
  }
  img {
    flex:1 5 calc(50% - 50px);
    position:relative;
    max-width:calc(50% - 50px);
  }
}

.leftImg {
    top:-100px;
    @include boxShadow (1.05, 1.05);
}

.rightImg{
      right:0;
      bottom:-100px;
      @include boxShadow (-1.05, 1.05);
  }



.iconGallery {
  padding:25px;
  @include listReset;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.galleryContent {
  flex: 2 2 50%;
  display:inline-block;
  padding:20px;
  position:relative;
  width:calc(100% - 40px / 2);
  .iconOverlay{
    position:absolute;
    top:50px;
    left:-30px;
    background:$sunnyYellow;
    border-radius:50%;
    i {
      padding:10px;
    }
  }
}

.sectionFlex {
  display:flex;
  align-items:center;
  justify-content: space-between;
  .imgContainer {
    position:relative;
    flex:2 0 calc(40% - 50px);
    margin-right:50px;
  }
  .founderContent {
    flex:0 2 60%;
  }
}
.imgGallery {
  padding:100px 0;
}
.imageList {
  @include listReset;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  width:100%;
  li {
    flex:1 0 auto;
    padding:15px;
    width:calc(33% - 15px / 3)
  }
  
}

.founder {
  img {
    @include boxShadow(1.05, 1.05)
  }
}

footer {
  background:$black;
  text-align:center;
  .copyright {
    padding:5px 0;
  }
  a{
    color:$offWhite;
    text-decoration:none;
  }
}

.postImgContainer {
  img {
    @include boxShadow (-1.05, 1.05)
  }
}




@import 'partials/mediaQueries';