@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Roboto&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4,
button,
a {
  font-family: "Josefin Sans", sans-serif;
}

h1,
a,
button {
  color: #fff;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
}
header .siteAnchor {
  font-size: 2rem;
  text-transform: none;
}
header li:hover a,
header li:focus-within a {
  color: #F8E71C;
}
header h1 {
  font-size: 8.3rem;
  font-weight: 400;
  color: #fff;
}
header h1 span {
  display: block;
  color: #F8E71C;
}

main h2 {
  font-size: 2.813rem;
  letter-spacing: 1.3px;
  margin: 0.5rem;
}
main button {
  background-color: #0E902D;
  border: 1px solid #0E902D;
  font-weight: 700;
  padding: 10px 25px;
}
main h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.wrapper {
  width: 1400px;
  max-width: 80%;
  margin: 0 auto;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 35rem;
}
header.headerHome {
  background: url(../assets/home-image-1.jpg) center/cover no-repeat;
}
header.headerHome .pageTitle {
  z-index: 3;
  -ms-flex-item-align: center;
      align-self: center;
}

.headerBlog {
  background: url(../assets/blog-header-1.jpg) center/cover no-repeat;
}

.headerContact {
  background: url(../assets/contact-header-1.jpg) center/cover no-repeat;
}

.headerBlog,
.headerContact {
  min-height: 25rem;
}

.headImgContainer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  right: 0;
  bottom: -75px;
}

nav {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav .siteAnchor {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 10%;
          flex: 0 2 10%;
  margin-right: 50px;
  -ms-flex-preferred-size: calc(20% - 55px);
      flex-basis: calc(20% - 55px);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
nav ul li {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5%;
          flex: 0 1 5%;
  padding: 0 10px;
}
nav ul a {
  padding: 5px;
}
nav .mobileNavMenu {
  display: none;
}
nav.subPageMenu {
  background: #000;
}
nav.subPageMenu .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav.subPageMenu .wrapper .siteAnchor {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 10%;
          flex: 0 2 10%;
  margin-right: 50px;
  -ms-flex-preferred-size: calc(20% - 55px);
      flex-basis: calc(20% - 55px);
}

.about,
.iconGallery {
  background: #F0EFED;
}

.about .aboutContent {
  text-align: center;
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .aboutContent h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 66%;
          flex: 1 2 66%;
}
.about .aboutContent p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogFlex .blogImgContainer,
.blogFlex .blogFlexContent {
  width: calc(50% - 50px);
}
.blogFlex .blogImgContainer {
  background: #F8E71C;
  position: relative;
}
.row01 .blogFlexContent {
  margin-left: 50px;
}

.row02 {
  text-align: right;
}
.row02 .blogFlexContent {
  margin-right: 50px;
}