html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  max-width: 100%;
  height: auto;
}

section:nth-child(odd) {
  background: #F0EFED;
  padding: 100px 25px;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

button {
  background-color: #0E902D;
  border: 1px solid #0E902D;
  padding: 10px 25px;
}

html {
  font-size: 125%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 8.3rem;
}
h1 span {
  display: block;
  color: #F8E71C;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #2C2C2C;
  font-size: 2.815rem;
  text-align: center;
  letter-spacing: 1.3px;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #2C2C2C;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #2C2C2C;
  font-size: 1rem;
  line-height: 1.51rem;
}

a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2C2C2C;
  font-size: 1rem;
  line-height: 32px;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
}

header a {
  text-transform: uppercase;
}
header .siteAnchor {
  font-size: 1.75rem;
  text-transform: none;
}
header li:hover a,
header li:focus-within a {
  color: #F8E71C;
}
header.headerContact h1, header.headerBlog h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #F8E71C;
  font-size: 4rem;
  line-height: 92px;
}

main h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contactInfo {
  margin-right: 50px;
  width: calc(30% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contactInfo .socialIcons ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactInfo .socialIcons i {
  padding-right: 0.75rem;
  color: #0E902D;
}
.contactInfo a {
  text-decoration: none;
  color: #2C2C2C;
  margin: 0.5rem 0;
}
.contactInfo p {
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0;
}
.contactInfo span {
  display: block;
}

.contactFormContainer {
  width: 70%;
  min-height: 16rem;
  -webkit-box-shadow: -1rem 1rem #F8E71C;
          box-shadow: -1rem 1rem #F8E71C;
  background: #fff;
  position: absolute;
  top: -252px;
  right: 0;
}

form {
  background: #ffffff00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
form input,
form textarea {
  background: inherit;
  border: none;
  margin: 10px;
  padding: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
form input {
  width: calc(50% - 20px);
  border-bottom: 0.05rem solid #0E902D;
  border-radius: 0;
}
form textarea {
  resize: none;
  width: calc(100% - 20px);
  height: 7.5rem;
  border: 0.05rem solid #0E902D;
}
form button[type=submit] {
  margin-left: 10px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blogContent {
  position: relative;
  top: -15rem;
  right: -1.25rem;
  margin-left: 50px;
  width: calc(70% - 50px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.postTitle h2 {
  text-align: left;
  font-size: 2.15rem;
}
.postTitle p {
  color: #074115;
}
.postTitle p span {
  font-style: italic;
  font-weight: 700;
}

.blogPost {
  border: 5px solid #F8E71C;
  border-right: none;
  border-top: none;
  margin-left: -20px;
  margin-right: 50px;
  padding: 50px;
}

.commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.commentFlex .profileContainer {
  width: 500px;
  margin-right: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}
.commentFlex .commentContent {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 85%;
          flex: 1 1 85%;
}
.commentFlex h4 {
  color: #074115;
  margin: 0;
}

aside {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
aside .sideBarContent {
  width: 75%;
  background: #fff;
}
aside .sideBarContent a {
  text-decoration: none;
  color: #2C2C2C;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 35rem;
}
header.headerHome {
  background: url(../assets/home-image-1.jpg) center/cover no-repeat;
}
header.headerHome .pageTitle {
  z-index: 3;
  -ms-flex-item-align: center;
      align-self: center;
}

.headerBlog {
  background: url(../assets/blog-header-1.jpg) center/cover no-repeat;
}

.headerContact {
  background: url(../assets/contact-header-1.jpg) center/cover no-repeat;
}

.headerBlog,
.headerContact {
  min-height: 25rem;
}

.headImgContainer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  right: 0;
  bottom: -75px;
}

nav {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav .siteAnchor {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 10%;
          flex: 0 2 10%;
  margin-right: 50px;
  -ms-flex-preferred-size: calc(20% - 55px);
      flex-basis: calc(20% - 55px);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
nav ul li {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5%;
          flex: 0 1 5%;
  padding: 0 10px;
}
nav ul a {
  padding: 5px;
}
nav .mobileNavMenu {
  display: none;
}
nav.subPageMenu {
  background: #000;
}
nav.subPageMenu .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav.subPageMenu .wrapper .siteAnchor {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 10%;
          flex: 0 2 10%;
  margin-right: 50px;
  -ms-flex-preferred-size: calc(20% - 55px);
      flex-basis: calc(20% - 55px);
}

.about .aboutContent {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogMain {
  padding: 50px 0px;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogFlex .blogFlexContent {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 calc(50% - 50px);
          flex: 5 1 calc(50% - 50px);
}
.blogFlex.row01 .blogFlexContent {
  margin-left: 50px;
}
.blogFlex.row02 {
  text-align: right;
}
.blogFlex.row02 .blogFlexContent {
  margin-right: 50px;
}
.blogFlex img {
  -webkit-box-flex: 1;
      -ms-flex: 1 5 calc(50% - 50px);
          flex: 1 5 calc(50% - 50px);
  position: relative;
  max-width: calc(50% - 50px);
}

.leftImg {
  top: -100px;
  -webkit-box-shadow: 1.05rem 1.05rem #F8E71C;
          box-shadow: 1.05rem 1.05rem #F8E71C;
}

.rightImg {
  right: 0;
  bottom: -100px;
  -webkit-box-shadow: -1.05rem 1.05rem #F8E71C;
          box-shadow: -1.05rem 1.05rem #F8E71C;
}

.iconGallery {
  padding: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryContent {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 auto;
          flex: 2 2 auto;
  display: inline-block;
  padding: 20px;
  position: relative;
  width: calc(50% - 25px / 2);
}
.galleryContent .iconOverlay {
  position: absolute;
  top: 50px;
  left: -30px;
  background: #F8E71C;
  border-radius: 50%;
}
.galleryContent .iconOverlay i {
  padding: 10px;
  color: #2C2C2C;
}

.sectionFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectionFlex h2 {
  font-size: 2.1rem;
  letter-spacing: 1px;
  text-align: left;
}
.sectionFlex .imgContainer {
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 calc(40% - 50px);
          flex: 2 0 calc(40% - 50px);
  margin-right: 50px;
}
.sectionFlex .founderContent {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 60%;
          flex: 0 2 60%;
}

.imgGallery {
  padding: 100px 0;
}

.imageList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.imageList li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 15px;
  width: calc(33% - 15px / 3);
}

.founder img {
  -webkit-box-shadow: 1.05rem 1.05rem #F8E71C;
          box-shadow: 1.05rem 1.05rem #F8E71C;
}

footer {
  background: #2C2C2C;
  text-align: center;
}
footer .copyright {
  padding: 5px 0;
}
footer a {
  color: #F0EFED;
  text-decoration: none;
}

.postImgContainer img {
  -webkit-box-shadow: -1.05rem 1.05rem #F8E71C;
          box-shadow: -1.05rem 1.05rem #F8E71C;
}

@media (max-width: 900px) {
  html {
    font-size: 95%;
  }

  section:nth-child(odd) {
    background: #F0EFED;
    padding: 50px 25px;
  }

  .pageTitle h1 {
    font-size: 6.3rem;
  }

  .headImgContainer {
    display: none;
  }

  .blogMain {
    padding: 0;
    margin: 0;
  }

  .blogFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogFlex img {
    margin: 15px 0;
    min-width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blogFlex.row01 .blogFlexContent {
    margin-left: 0;
  }
  .blogFlex.row02 .blogFlexContent {
    margin-right: 0;
  }
  .blogFlex .blogFlexContent {
    padding: 0 25px;
    width: 100%;
  }

  .leftImg {
    top: 0;
  }

  .rightImg {
    bottom: 0;
  }

  .iconGallery,
.imgGallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .galleryContent {
    margin: 10px;
    width: 100%;
  }

  .imageList li {
    width: 100%;
  }
  .imageList li img {
    margin: 0 auto;
  }

  .sectionFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionFlex .imgContainer {
    margin-bottom: 25px;
  }

  .blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 95%;
  }

  .blogContent {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: calc(100% - 50px);
    top: 0;
    right: 0;
  }
  .blogContent .blogPost {
    border: none;
  }

  aside {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  aside .sideImgContainer {
    -webkit-box-flex: 3;
        -ms-flex: 3 1 auto;
            flex: 3 1 auto;
  }
  aside .sideBarContent {
    width: 100%;
    background: none;
  }
  aside .profileContainer {
    width: 50%;
  }

  .contactFormContainer {
    position: initial;
  }
  .contactFormContainer form button[type=submit] {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  header {
    min-height: 30vh;
  }

  .pageTitle {
    margin: 10px;
  }
  .pageTitle h1 {
    font-size: 5rem;
  }

  .imgGallery {
    padding: 0;
  }
  .imgGallery .wrapper {
    width: 100%;
  }

  .imageList li {
    padding: 0;
  }

  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contactInfo,
.contactFormContainer {
    width: 100%;
  }

  .contactInfo {
    padding: 50px 0;
  }
  .contactInfo span {
    display: inline;
  }

  form input,
form textarea {
    width: calc(100% - 20px);
  }
  form textarea {
    height: 5rem;
  }

  .blogContent {
    top: 0;
  }
  .blogContent .blogPost {
    padding: 0;
    padding-top: 25px;
  }

  .commentFlex {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .commentFlex .profileContainer {
    width: 250px;
    margin-right: 20px;
  }
}
@media (max-width: 400px) {
  section:nth-child(odd) {
    padding: 50px 15px;
  }

  .pageTitle h1 {
    font-size: 3.75rem;
  }

  header {
    min-height: 25vh;
  }

  nav .webNavMenu {
    visibility: hidden;
    overflow: hidden;
  }
  nav .mobileNavMenu {
    display: block;
  }
  nav i.fa-bars {
    color: #fff;
  }
}